* text=auto !eol
/DESCRIPTION -text
/NAMESPACE -text
R/DS.GCM.to.grid.R -text
R/anom.prec.R -text
R/anom.temp.R -text
R/append.nc.R -text
R/bioclim.R -text
R/extend.global.data.R -text
R/extract.monthly.averages.R -text
R/extremes.R -text
R/interp2grid.R -text
R/interp2pnt.R -text
R/nc2dataframe.R -text
R/read.nc.R -text
man/DS.GCM.to.grid.Rd -text
man/anom.prec.Rd -text
man/anom.temp.Rd -text
man/append.nc.Rd -text
man/bioclim.Rd -text
man/extend.global.data.Rd -text
man/extract.monthly.averages.Rd -text
man/interp2grid.Rd -text
man/interp2pnt.Rd -text
man/nc2dataframe.Rd -text
man/read.nc.Rd -text
src/interpolate.c -text
